@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  background-color: #0d1323;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

.dashboard {
  display: grid;
  grid-template-columns: 250px repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  width: 90%;
  max-width: 1100px;
}

/* --- TARJETA DE ACTIVIDAD (USER) --- */
.card-container {
  border-radius: 15px;
  position: relative;
  overflow: hidden; 
  padding-top: 40px; 
}

/* Colores exactos del reto */
.work { background-color: #ff8c66; }
.play { background-color: #56c2e6; }
.study { background-color: #ff5c7c; }
.exercise { background-color: #4acf81; }
.social { background-color: #7536d3; }
.self-care { background-color: #f1c65b; }

.card-content {
  width: 200px;
  height: 100px;
  background-color: #1c1f4a;
  padding: 30px 90px;
  border-radius: 15px;
  position: relative;
  z-index: 2; /* Sube la tarjeta azul sobre el fondo */
  height: 100%;
  transition: background-color 0.3s;
}

.card-content:hover {
  background-color: #34397b;
  cursor: pointer;
}

/* Estilo de los textos */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.current-hours {
  color: white;
  font-size: 3.5rem;
  font-weight:200;
  margin: 5px;
  left: 100px;
}

.previous-stats {
  color: #bdc1ff;
  font-size: 0.9rem;
  margin-top: 8px;
}

.dots-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.7;
}

.dots-btn:hover { opacity: 1; }

/* --- TARJETA DE PERFIL (JEREMY) --- */
.profile-card {
  grid-row: span 2;
  background-color: #1c1f4a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.profile-top {
  background-color: #5847eb;
  padding: 35px 30px;
  border-radius: 15px;
  flex-grow: 1;
}

.avatar {
  width: 80px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 35px;
}

.profile-text p { color: #bdc1ff; margin: 0; font-size: 0.9rem; }
.profile-text h1 { font-weight: 300; font-size: 2.5rem; color: white; margin: 5px 0; }

.profile-menu {
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-menu button {
  background: none;
  border: none;
  color: #7078c9;
  text-align: left;
  font-size: 1.1rem;
  cursor: pointer;
}

.profile-menu button.active { color: white; }